<h2 id="deleteUsermje"></h2>
<form id="deleteUser">
    <h1>esta seguro que quiere eliminar este usuario?</h1>
     <button type="submit" class="btn btn-primary">Nuevo Usuario</button>
</form>
<script src="/js/usuarios/delete.js"></script>